<div class="contenido animated fadeIn fast">
    <div class="mini-calendar" [ngClass]="{'calendat-short': diasMes.length <= 35, 'calendar-long': diasMes.length > 35}">
        <header>
            <div class="dia-semana" *ngFor="let dia of diasSemana">
                <p> {{ dia }} </p>
            </div>
        </header>
        <div class="celdas" #calendar>
            <div class="celda" *ngFor="let dia of diasMes" [id]="dia|id" (click)="getDia(dia)">
                <div [ngClass]="{'dia-actual': (dia | date) == -1, 'color-black': (dia | date) != -1}">
                    <p [ngClass]="{'no-mes': (dia | date:1) !== numeroMes}"> {{ dia | date:0 }} </p>
                </div>
            </div>
        </div>
    </div>
</div>