.btn-activo {
    background: #5c8cbb;
    color: whitesmoke;
}

.contenido {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mes {
    width: 100%;
    height: 30px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.mes .mes-ant,
.mes .mes-post {
    flex-basis: 12%;
}

.mes .nombre-mes {
    flex-basis: 75%;
}

.mes .nombre-mes p {
    font-size: .8em;
    margin-top: 6px;
}

.mes .mes-ant i,
.mes .mes-post i {
    font-size: 1em;
    margin: 0px;
    margin-top: 6px;
    cursor: pointer;
}

.mini-calendar {
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.calendar-long {
    height: 240px;
}

.calendat-short {
    height: 205px;
}

.mini-calendar header {
    width: 100%;
    height: 36px;
    background: #61a0e2;
    display: grid;
    grid-template-columns: 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3%;
    text-align: center;
}

.mini-calendar header .dia-semana {
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #61a0e2;
    border-color: #61a0e2
}

.mini-calendar header .dia-semana p {
    margin-top: 20px;
    color: whitesmoke;
    font-size: .8em;
}

.mini-calendar .celdas {
    width: 100%;
    height: 35px;
    display: grid;
    grid-template-columns: 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3%;
    grid-template-rows: 35px 35px 35px 35px 35px 35px;
}

.mini-calendar .celdas .celda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 35px;
    margin: 0px;
    color: black;
    /* border: 1px solid rgb(199, 197, 197); */
    cursor: pointer;
}


/* .mini-calendar .celdas .celda p {} */

.no-mes {
    color: rgb(164, 153, 153)!important;
}

.dia-actual {
    background-color: rgba(26, 115, 232, 1.00);
    border-radius: 5px;
}

.mini-calendar .celdas .celda>div:hover {
    background-color: rgb(232, 225, 225);
}

.mini-calendar .celdas .celda>div p {
    margin: 6px 0px;
    font-size: .8em;
}

.festivo {
    background: rgb(226, 95, 54);
}