<!-- Modal -->
<div class="fondo-negro animated fadeIn" [ngClass]="cambiarPassordService.oculto">

    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cambiar contraseña </h5>
                    <button type="button" (click)="cambiarPassordService.ocultarModal()" class="close pointer" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form ngNativeValidate [formGroup]="forma" (ngSubmit)="actualizar()">
                        <div class="modal-body">
                            <!-- <div class="form-group">
                                <label for="exampleInputEmail1">Contraseña antígua</label>
                                <input formControlName="passwordActual" #input name="passwordActual" type="password" autofocus class="form-control" aria-describedby="emailHelp" required placeholder="Contraseña actual">
                                <small id="emailHelp" class="form-text text-muted">Introduce la contraseña actual</small>
                            </div> -->
                            <div class="form-group row">
                                <label for="inputPassword4" class="col-sm-12 control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contraseña actual</font></font></label>
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-lock"></i></div>
                                        <input formControlName="passwordActual" name="passwordActual" type="password" class="form-control" placeholder="Contraseña nueva" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <small id="emailHelp" class="form-text text-muted">Introduce la contraseña actual</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword4" class="col-sm-3 control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contraseña</font></font></label>
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-lock"></i></div>
                                        <input formControlName="password1" name="password1" type="password" class="form-control" placeholder="Contraseña nueva">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword4" class="col-sm-12 control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Confirmar contraseña</font></font></label>
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-lock"></i></div>
                                        <input formControlName="password2" name="password2" type="password" class="form-control" placeholder="Confirmar contraseña">
                                    </div>
                                    <div class="form-group" *ngIf="forma.errors && !forma.pristine">
                                        <p class="text-danger">
                                            Las contraseñas no coinciden
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" (click)="cambiarPassordService.ocultarModal()" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>